
<launch>
	<!--robot name="dunn" xmlns:xacro="http://www.ros.org/wiki/xacro"-->
	<param name ="robot_description" textfile="$(find description)/urdf/car_test.urdf" />
	<node name = "joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name = "robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	<node name = "spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find description)/urdf/car_test.urdf -urdf -z 1 -model dunn"/>
</launch>
